//@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.card {

    height: 100%;

    .wrapper{
      max-width: 300px;
    }
    
    .title {
      color: #fff;
      font-weight: bold;
    }

    .description {
      color: #fff;
    }
  }